<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="dp3-uass-restservices">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <property name="context-root" value="dp3-uass-restservices"/>
        <property name="java-output-path" value="/dp3-uass-restservices/build/classes"/>
    </wb-module>
</project-modules>
